<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Pasar Authorization header a PHP (importante para mod_rewrite)
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Pasar headers a PHP (CGI/FastCGI)
<IfModule mod_setenvif.c>
    SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1
    SetEnvIf X-API-KEY "(.+)" HTTP_X_API_KEY=$1
</IfModule>
